body {
  /*background-color: #d4eee5;*/
  /*font-family: 'Oxygen', sans-serif;*/
  /*background-color: #c5f0e6;*/
  background-color: #f8f8f8;
  background-image: url('http://dl.dropbox.com/u/72555469/onestoptravelsg/assets/img/background.png');
  font-family: 'Ubuntu', sans-serif;
}
.offset0 {
  margin-left: 10px;
}
#site-title {
  font-family: 'Lobster', Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 60px auto 0; 
  text-align: center;
}
#site-title a {
  /*color: #3B9C9C;*/
  /*color: #2d7a7a;
  color: #006666;*/
  color: #FF0023;
  font-size:80px;
  line-height:1.6em;
  /*text-shadow: -1px -1px 0 #40E0D0;*/
}
#site-title a:hover {
  text-decoration: none;
}
.header-div {
  margin-top: 20px;
}
#maincontent.container {
  margin-top: 100px;
}
.icondiv {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 2000;
}
#onestopnavbar {
  position: relative;
  top: 80px;
  right: 0;
}
#onestopnavbar.navbar .container {
  width: 960px;
}
#onestopnavbarinner {
  /*background-color: #697e81;
  background-color: #797d88;
  background-color: #FFA346;*/
  /*padding-left: 20px;
  padding-right: 20px;*/
}
#onestopnavbarsearch.navbar-search .search-query {
  color: #ffffff;
  background-color: #f0f0f0;
  border: 1px solid #FF7B46;
}
#onestopnavbarsearch.navbar-search .search-query:focus,
#onestopnavbarsearch.navbar-search .search-query.focused {
  color: #4F1600;
  text-shadow: 0 1px 0 #4F1600;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 255);
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 255);
  box-shadow: 0 0 3px rgba(255, 255, 255, 255);
}
#onestopnavbar.navbar .nav li > a {
  /*color: #aad4c8;*/
  color: #000000;
  /*background-color: #FFA346;*/
}
#onestopnavbar.navbar .nav li > a:hover {
  /*color: #0d89a8;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);*/
  /*background-color: #7cb5eb;*/
  background-color: #FF7B46;
  color: #4F1600;
  cursor: pointer;
}
#onestopnavbar.navbar .divider-vertical {
  background-color: #FF7B46;
  border-right: 1px solid #FF7B46;
}
#onestopnavbar.navbar .dropdown-menu {
  /*background-color: #FFA346;*/
}
#onestopnavbar.navbar .dropdown-menu a {
  color: #aad4c8;
  text-decoration: none;
  /*background-color: #FFA346;*/
}
.dropdown-menu .divider {
  background-color: #FF7B46;
  border-bottom: 1px solid #FF7B46;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  color: #4F1600;
  text-decoration: none;
  background-color: #FF7B46;
}
.marketing-main h1 {
  color: #714c32;
  font-family: 'Oleo Script', cursive;
  font-size: 35px;
}
.marketing-main p {
  font-family: 'Ubuntu', sans-serif;
  /*color: #009494;*/
  color: #4f0000b;
  font-size: 18px;
}
div.marketing-column {
  background: url('http://dl.dropbox.com/u/72555469/onestoptravelsg/assets/img/marketingbg.png');
  background-repeat: no-repeat;
  padding: 5px 5px 5px 5px;
}
.marketing-column p {
  /*color: #cfb64f;*/
  color: #FF465F;
  padding: 5px 5px 5px 5px;
}
.marketing-head {
  height: 80px;
}
.marketing-foot {
  height: 80px;
}
.marketing-columns {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.marketing-columns p {
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
.marketing-columns h2 {
  font-family: 'Oleo Script', cursive;
  /*color: #282828;*/
  color: #f36c32;
  width: 80%;
  padding-left: 5px;
}
.btn-marketing {
  padding: 20px 30px;
  font-size: 25px;
  font-family: 'Oleo Script', cursive;
}
.tweetstream {
  height: 300px;
  overflow: auto;
}
.tweetstream li {
  border: 1px solid #000000;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
}
.footer-div {
  margin-top: 150px;
}
.footer {
  margin-top: 20px;
  margin-bottom: 50px;
}
.footer h3 {
  font-family: 'Oleo Script', cursive;
  /*color: #b8b8b8;*/
  color: #4F000B;
}
.footer p {
  /*color: #d8d8d8;*/
  color: #814049;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
.footer ul {
  list-style-type: none;
  /*color: #d8d8d8;*/
  color: #814049;
}

.drag, .list
{
  width: 450px;
}

.drag
{
  z-index: 100;
  position:absolute;
  opacity: .50;
  filter: alpha(opacity=50);
}

.list
{
  position:relative;
  z-index: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  left: 0px;
  border: 1px solid #000000;
}